<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Multiply</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <header class="py-3 px-5 top-banner bg-secondary">
    <div class="bg-secondary-subtle py-3 mx-5 rounded rounded-1 text-center">
        <h1> Multiply {{ num1 }} By {{ num2 }}
      </h1>
    </div>
  </header>

  <div class="w-100"></div>
  <br />
  <br />
  <br />
  <br />
  <br />

  <body class="bg-secondary-subtle">
  <div class=" text-center-container text-center">
      <h2>{{ problems_completed }} of {{ total_problems }} problems completed.</h2>
    {% if show_error == True %}
      <h4 class="text-danger-emphasis">Incorrect. Try Again.</h4>
    {% endif %}
    </div>

  <br>
  <br>
    <div class="container">
      <form class="row g-3 mx-auto justify-content-center" method="post">
        <div class="col-auto">
          <p class="fs-1">{{ problem[0] }}</p>
        </div>
        <div class="col-auto align-self-start pb-5">
          <i class="bi-x" style="font-size: 2.5rem"></i>
        </div>

        <div class="col-auto">
          <p class="fs-1">{{ problem[1] }}</p>
        </div>
        <div class="col-auto"><p class="fs-1">=</p></div>
        <div class="col-auto pt-2">
          <input
            type="number"
            class="form-control form-control-lg"
            id="inputPassword2"
            name="ans"
            style="width: 6rem;"
            min="0"
            max="4500"
            required
          />
        </div>
        <div class="col-auto pt-2">
          <button type="submit" class="btn btn-outline-success btn-lg mb-3">
            <i class="bi bi-arrow-return-right"></i>
            Enter
          </button>
        </div>
      </form>
    </div>
  </body>
<footer>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center-container text-center">
      <h5>Copyright Shrey 2024. All Rights Reserved.</h5>
    </div>
</footer>
</html>
